* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
  
    display: grid;
    grid-template-columns: minmax(305px, 375px) 4fr;
    grid-template-rows: 1fr 5fr;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

/*******************************Sidebar*******************************/

.sidebar {
    display: grid;
    grid-row: 1 / 3;
    grid-template-rows: .25fr 1fr 1fr;
    background-color: #10b981; /* emerald 500 */
    color: #f0f9ff; /* sky 50 */
    font-size: 1.6rem;
    font-weight:600; 
    padding-left: .7rem;
}

.dashboard-icon {
    position: relative;
    top: .3rem;
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 1.5rem;
}

#home {
    right: .125rem;
    height: 2rem;
    width: 2rem;
    margin-right: 1.25rem;
}

#dashboard-container {
    margin: .6rem 0 0 .9rem;
    text-align: left;
    font-size: 1.9rem;
}

.logo {
    position: relative;
    top: .8rem;
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}

.nav-container,
.nav-extras {
    margin: 0 1.5rem;
    text-align: left;
}

.nav-extras {
    position: absolute;
    bottom: 3rem;
}

.nav-container > ul > li,
.nav-extras > ul > li {
    list-style: none;
    margin: .75rem 0;
}

/*******************************Header*******************************/

.header {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: #f8fafc; /* slate 50 */
    -webkit-box-shadow: 0px 5px 5px 0px #cbd5e1; /* slate 300 */
    -moz-box-shadow: 0px 5px 5px 0px rgba(203,213,225,1);
    box-shadow: 0px 5px 5px 0px rgba(203,213,225,1);
}

.search-container {
    display: flex;
    margin: 2rem;
    margin-left: 3.125rem;
}

#searchInput {
    height: 2.8rem;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
    background-color: #e5e7eb; /* gray 200 */
}

#searchSubmit {
    position: relative;
    right: 2.8rem;
    height: 3rem;
    width: 2.3rem;
    background: none;
    border: none;
    outline: none;
}

.profile-container {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 6rem;
    gap: 3rem;
}

.welcome-container {
    display: flex;
    padding: 1.5rem;
    padding-left: 3.2rem;
    gap: 1.2rem;
    text-align: left;
    line-height: 1.8rem;
}

.hi-there {
    font-size: 1.2rem;
    font-weight: 600;
}

.name {
    font-size: 1.6rem;
    font-weight: 600;
}

.pfp {
    border-radius: 50%;
}

.pfp-small {
    width: 3rem;
    height: 3rem;
}

.pfp-big {
    position: relative;
    bottom: 10px;
    width: 5rem;
    height: 5rem;
}

#notif-bell {
    height: 2.2rem;
    width: 2.2rem;
    border: none;
    background: none;
}

.header-button-container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 100px;
    gap: 3.125rem;
}

.header-button-container > button {
    width: 8rem;
    height: 3.25rem;
    border-radius: 30px;
    border: none;
    background-color: #10b981; /* emerald 500 */
    color: #f0f9ff; /* sky 50 */
    font-size: 1.25rem;
    font-weight: 600;
}

/*******************************Main Content*******************************/

.main-content {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.section-header {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem 0 0 1.8rem;
}

/************************Projects Section ************************/

.projects-section {
    background-color: #f1f5f9; /* slate 100 */
    min-width: 840px;
    grid-row: 1 / 3;
}

.projects-container { 
    display: grid;
    /* grid-template-columns: .8fr .8fr; */
    grid-template-columns: repeat(auto-fit, minmax(315px, 0.8fr));
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2.3rem;
    height: 85%;
    padding: 1rem 1.8rem;
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f8fafc; /* slate 50 */
    height: 100%;
    width: 100%;
    /* max-width: 600px; */
    border-radius: 10px;
    justify-self: center;
    border-left: 10px solid #6ee7b7; /* emerald 300 */
    -webkit-box-shadow: 5px 5px 5px 0px #cbd5e1; /* slate 300 */
    -moz-box-shadow: 5px 5px 5px 0px rgba(203,213,225,1);
    box-shadow: 5px 5px 5px 0px rgba(203,213,225,1);
    text-align: left;
    padding: 1.5rem;
    font-size: 1.2rem;
    transition: transform 200ms;
}

.project:hover {
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -o-transform: scale(1.025);
    -ms-transform: scale(1.025);
}

.project > a > p {
    color: #525252; /* neutral 600 */
    padding-right: 3.5rem;
    margin-top: .7rem;
}

.proj-btn-container {
    position: absolute;
    display: flex;
    bottom: 1.5rem;
    right: 1.5rem;
    align-self: flex-end;
    gap: 1rem;
}

.proj-btn-container > button {
    height: 1.8rem;
    width: 1.8rem;
    border: none;
    background: none;
}

/************************Announcements Section ************************/

.announcements-section {
    background-color: #f1f5f9;
    height: 100%;
    min-width: 500px;
    text-align: left;
}

.announcements-wrapper {
    height: 100%;
    width: 90%;
    padding: 1rem 1.8rem;
}

.announcements-container {
    display: grid;
    grid-template-rows: .8fr .8fr .8fr;
    grid-gap: .8rem;
    max-height: 450px;
    width: 100%;
    max-width: 440px;
    border-radius: 10px;
    background-color: #f8fafc;
    -webkit-box-shadow: 5px 5px 5px 0px #cbd5e1; /* slate 300 */
    -moz-box-shadow: 5px 5px 5px 0px rgba(203,213,225,1);
    box-shadow: 5px 5px 5px 0px rgba(203,213,225,1);
    padding: 1.3rem 1.3rem 1rem 1.3rem;
}

.announcement {
    padding: .8rem;
}

.announcement > h4 {
    margin-bottom: .3rem;
}

.announcement:nth-child(-n+2) {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #d1d5db;
}

.announcement > p {
    font-size: 1rem;
    color: #525252; /* neutral 600 */
}

/************************Trending Section ************************/
.trends-section {
    background-color: #f1f5f9;
    height: 100%;
    min-width: 500px;
    text-align: left;
}

.trends-header {
    padding-top: 0;
}

.trends-wrapper {
    max-height: 450px;
    width: 90%;
    padding: 1rem 1.8rem 0 1.8rem;
}

.trends-container {
    display: grid;
    grid-template-rows: .8fr .8fr .8fr .8fr;
    grid-template-columns: max(110px) 2fr;
    row-gap: .8rem;
    max-height: 440px;
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    background-color: #f8fafc;
    -webkit-box-shadow: 5px 5px 5px 0px #cbd5e1; /* slate 300 */
    -moz-box-shadow: 5px 5px 5px 0px rgba(203,213,225,1);
    box-shadow: 5px 5px 5px 0px rgba(203,213,225,1);
    padding: 1.8rem 1.3rem 1.3rem 1.3rem;
}

.trends-container > img {
    position: relative;
    bottom: 10px;
    left: 15px;
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 50%;
}

.user-profile {
    grid-column: 2;
    padding-top: .3rem;
}

.user-profile > p {
    margin-top: .3rem;
    font-size: 1rem;
    color: #525252; /* neutral 600 */
}